body {
  background: linear-gradient(140deg, #aec4f5, 50%, #fff);
  padding-top: 15px ;
  min-height: 100vh;
  display: flex;
}

:root{
        --footer-height: 4vh;
        --sidebar-width:280px;
}
* {
  padding: 0px;
  margin: 0px;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
  background: gray;
}

.hovered {
  border: solid 1px rgba(255, 255, 255, 0);
}

.hovered:hover {
  border-radius: 0.375rem;
  border: solid 1px rgba(29, 59, 230, 0.734);
}

.hoverable:hover {
  cursor: pointer;
}

.table tbody tr:nth-child(2n) {
  background: #edece7;
}

.nav-tabs {
  --bs-nav-tabs-border-color: #89898930;
  margin-bottom: 5px;
}

/* .table tbody tr:nth-child(2n) {
  background: #e9e9e9;
 } */
thead {
  background-color: #363636;
  color: #edece7;

}

.table {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) !important;
}
.breadcrumb{
  margin-bottom: 0px;
  font-size: 1.2rem;
}
