body{
    background-color: #f0f2f5;
    padding: 15px 10px;
    height:100%;
    display: flex;
    
}
::-webkit-scrollbar {
    width: 7px;               /* width of vertical scrollbar */
  }
  ::-webkit-scrollbar-thumb{
    background: #000;
    border-radius:5px ;
    background: gray;
}