:root {
    --sidebar-heigth: 96vh;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: var(--sidebar-width);
    background-image: linear-gradient(to right top, #053341, #082937, #091e2d, #081522, #000717);
    margin: 0px;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar-overlay {
    width: 380px;
}

.height-100 {
    height: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #212529;
    background-color: #ffffff;
}