[data-name=search-input]{
    right: 20px;
    width: 120px;
    transition: all linear 0.3s;
}
[data-name=select-address]{
    top: 20px;
    transition: all linear 0.3s;
}

.pointer{
    cursor: pointer;
}