#appt-time{
    flex:1;
}
.w-60{
    width: 70%;
}
.hoverable:hover{
    background-color: #0d6efd;
    color: aliceblue;
    cursor: pointer;

}
.search-station{
    height: fit-content;
}
.delete-station{
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    font-size: 0.7rem;
}
.mt-20{
    margin-top: 20px;
}
.icon-status{
    margin-left: 10px;
}
.dropdown-container{
    top:50px
}
.item_suggested{
    min-width: 160px;
}